<li>
	{{burger_name}}

	<button class="change-devoured btn btn-primary" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Reguritate!{{else}}Eat it!{{/if}}
	</button>

	<button class="delete-burger btn btn-primary" data-id="{{this.id}}">Delete</button>
</li>
