<li>
	<p>
	{{burger_name}}
	</p>

	<div class="button-holder">
		<button class="change-devoured btn btn-light" data-id="{{id}}" not-devoured="{{devoured}}">
			{{#if devoured}}Eat it!{{else}}Regurgitate!{{/if}}
		</button>

		<button class="delete-burger btn btn-light" data-id="{{this.id}}">Delete it!</button>
	</div>
</li>